:root {
  --white: #ffffff;
  --black: #0b0b10;
  --primary: #5f40d3;
  --primary-hover: #4a29a9;
  --secondary: #e8edf1;
  --secondary-hover: #c2c7d0;
  --destructive: #d21c1c;
  --destructive-hover: #a31616;
}
